.animateColors{
background-image: linear-gradient(90deg, #53cbef 0%, #dcc66c 50%, #ffa3b6 75%, #53cbef 100%);
animation: slidernbw 5s linear infinite;
color: #000;
}

@keyframes slidernbw {
to {
    background-position: 20vw;
}
}